<ng-view class="ng-scope">signIn<header>
	<nav>
		<div class="container headerss">
			<div class="row header-width">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu"></button>
					<a href="index.html" class="navbar-brand"><img class="header-img" src="img/gwindows_logo.png"></a>
				</div>
				<div class="collapse navbar-collapse" id="top_menu">
					<div class="mob-cont">
						<ul class="menu left">
							<li><a href="#">Personal</a></li>
							<li><a href="#">Open source</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Explore</a></li>
						</ul>
						<ul class="menu right">
							<div class="below-btn-menu">
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Support</a></li>
							</div>
							<label class="form-cont">
								<input type="text" class="form-cont" placeholder="Search Github">
							</label>
							<div class="bottom-menu">
								<a href="#/signin"><button type="button" class="btn signin btn-default">Sign in</button></a>
								<a href="#/signup"><button type="button" class="btn signup btn-success">Sign up</button></a>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<div class="container home-content" ng-controller="SignUpCtrl as signUpCtrl">
	<div class="row cont-collum">
		<div class="col-md-6 col-md-offset-2 left-cont">
			<div class="title_block left">
				<h1>How people build software</h1>
				<p>Millions of developers use GitHub to build personal projects, support their businesses, and work together on open source technologies.</p>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-2 right-cont">
			<div class="title_block right">
				<h2>Congratulations!</h2><br>
				<h3>You were signed up successfully</h3><br>
				<h3>Please Sign In to start working</h3>
			</div>
		</div>
	</div>
</div>

<div class="fottert-homepage">
	<ul class="ul-left">
		<li class="footer-home-block"><p>@2016 GitHub</p></li>
		<li class="footer-home-block"><a href="#">Terms</a></li>
		<li class="footer-home-block"><a href="#">Privacy</a></li>
		<li class="footer-home-block"><a href="#">Security</a></li>
		<li class="footer-home-block"><a href="#">Status</a></li>
		<li class="footer-home-block"><a href="#">Help</a></li>
	</ul>
	
	<div class="icon-site">
		<a href="#"><img class="logos" src="img/gwindows_logo.png"/></a>
	</div>
	
	<ul class="ul-right">
		<li class="footer-home-block"><a href="#">Contact GitHub</a></li>
		<li class="footer-home-block"><a href="#">API</a></li>
		<li class="footer-home-block"><a href="#">Training</a></li>
		<li class="footer-home-block"><a href="#">Shop</a></li>
		<li class="footer-home-block"><a href="#">Blog</a></li>
		<li class="footer-home-block"><a href="#">About</a></li>
	</ul>
</div>
