<div class="container hed" ng-controller="SignInCtrl as signInCtrl">
    <div class="formm">
        <form ng-submit="signInCtrl.apply()">
            <div class="form-head">
                <p class="form-h-txt">Sign in to GitHub</p>
            </div>
            <div class="container form-box">
                <label for"sign-l">Username or email address</label>
                    <input type="text" id="sign-l" class="inp" ng-model="signInCtrl.email"/>
                    <label for"sign-p">Password <a href="#" class="lab-right">Forgot password?</a></label>
                    <input type="password" id="sign-p" class="inp" ng-model="signInCtrl.password"/>
                    <input type="submit" value="Sign in" class="btn btn-default btn-block sign-below"></input>
                    <div id="responce"></div>
            </div>
        </form>
        <div class="new-acount">New to DeviLib? <a href="#">Create an accounts</a></div>
    </div>
</div>
